<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeviceControl" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDeviceControl">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/DeviceControl" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDeviceControl" contract="ServiceReference.IDeviceControl"
                name="BasicHttpBinding_IDeviceControl" />
            <endpoint address="net.tcp://localhost:8090/DeviceControl" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDeviceControl" contract="ServiceReference.IDeviceControl"
                name="NetTcpBinding_IDeviceControl">
                <identity>
                    <userPrincipalName value="JD1609-PC\JD_1609" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>